*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E0E1DD;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D1B2A;
    height: 90px;
    width: 100%;   
    position: sticky;  
    top: 0;
    z-index: 1;
}

header h1{
    justify-content: flex-start;
    color: aliceblue;
    font-size: clamp(2rem, 4vw, 3rem);
    padding-left: 2rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    justify-content: space-between;
    padding-right: 3rem;
}

nav a {
  color: white;
  font-size: clamp(1rem, 2vw, 1.7rem);
}

nav a:hover{
    text-decoration: underline;
}

main{
    flex: 1;
    padding-top:20px;
    font-size: clamp(1rem, 4vw, 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
     
}

main h3{
    color: #1b263b;
    text-align: center;
}

main h4{
    color: #ffffff;
    font-size: clamp(1.3rem, 4vw, 2.3rem);
    background-color: #415a77;
    text-align: center;
    width: 45%;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 3px 7px 10px #0D1B2A;
    
}

main address,
main h5,
main blockquote{
     color: rgb(107, 42, 18);
     font-family: Arial, Helvetica, sans-serif;
} 

button a{
    color:#0D1B2A;
    font-size: 20px;
    
}

address button {
    background-color: #dbdfd1;
    height: 3rem;
    margin-bottom: 10px;
    width: 10rem;
    box-shadow: 0.5px 1px 3px rgb(107, 42, 18);;
    
}


footer{
    background-color: #0D1B2A;
    height: 60px;
    color: white;
    text-align: center;
    font-size: clamp(1.5rem, 2vw, 2rem);
}

@media(max-width:768px){
   
    header{
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        height: auto;
        padding: 20px 0;

    }

    header h1{
        padding-left: 0;
    }

    nav ul{
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding-right: 0;
    }
}