*{
   margin: 0;
   padding: 0;
   text-decoration: none;
}

body{
   background-color: rgb(208, 234, 234);
   line-height: 1.5;
   
   

}

#header {
   background-color: rgb(14, 40, 65);
   color: rgb(253, 253, 253);
   font-size: 25px;
   font-family: monospace;
   width: 100%;
   padding: 20px;
   border: 2px solid rgb(249, 249, 249);
   margin: 0px;
   min-height: 200px;
   box-sizing: border-box;
   text-align: center;
   outline: 3px solid rgb(247, 238, 238);
   position: fixed;
   z-index: 1;
   
}


#main{
   min-height: calc(100vh - 100px);
   padding-top: 200px;
   
}

#navigation-bar {
   background-color: rgb(235, 237, 243);
   margin: 20px auto;
   font-size: 20px;
   padding: 18px;
   width: 90%;
   max-width: 1200px;
   border: 10px solid rgb(13, 31, 89);
   outline: 2px dashed white;
   border-radius: 20px;
   box-sizing: border-box;
   
}



a:hover {
  background-color: rgb(14, 40, 65);
  color: rgb(249, 249, 250);
  
}

/* homepage */

.container{
   width: 98%;
   max-width: 1200px;
   margin: auto;
}
.subheading{
   font-size: 30px;
   font-family: cursive;
}

#subheading-para{
   font-size: 1.5rem;
   line-height: 2;
}

figure{
  text-align: center;
   
  
}

img{
   border: 3px dashed rgb(14, 40, 65) ;
   opacity: 0.8;
   max-width: 100%;
   height: auto;

}

img:hover{
   opacity: 1.0;
}

figcaption{
   color: rgb(17, 33, 114);
   font-weight: bold;
}



#Key-Features-list{
   line-height: 2;
}

#use-portal-list{
    line-height: 2;
}

footer{
   background-color:rgb(14, 40, 65);
   width: 100%;
   height: 60px;
   text-align: center;
   color: white;
   font-weight: 900;
   
  
}

#welcome{
   padding: 30px;
   background-color: rgb(215, 220, 233);
   border: 5px solid  rgb(14, 40, 65);
   margin-bottom: 25px;
   margin-top: 100px;
   width: 100%;
   border-radius: 20px;
   box-sizing:border-box;
   


}


#key-features{
   padding:30px;
   background-color: rgb(235, 237, 243);
   border: 5px solid  rgb(14, 40, 65);
   margin-bottom: 25px;
   width: 100%;
   border-radius: 20px;
   box-sizing:border-box;
}

#use-portal{
   padding: 30px;
   background-color: rgb(215, 220, 233);
   border: 5px solid  rgb(14, 40, 65);
   margin-bottom: 25px;
   width: 100%;
   border-radius: 20px;
   box-sizing:border-box;
}



