*{
   margin: 0;
   padding: 0;
   text-decoration: none;
}

body{
   background-color: rgb(208, 234, 234);
   line-height: 1.5;

}

#header {
   background-color: rgb(14, 40, 65);
   color: rgb(253, 253, 253);
   font-size: 25px;
   font-family: monospace;
   width: 100%;
   padding: 0px;
   border: 2px solid rgb(249, 249, 249);
   margin: 0px;
   height: 200px;
   box-sizing: border-box;
   text-align: center;
   outline: 3px solid rgb(247, 238, 238);
   position: fixed;
   z-index: 1;
   
   
  

}


#main{
   min-height: calc(100vh-100px);
   width: 1500px;
   
}

#navigation-bar {
   border: 5px solid  rgb(9, 36, 61);
   background-color: rgb(235, 237, 243);
   margin-left: 70px;
   font-size: 20px;
   height: 10px;
   line-height: 10px;
   padding: 18px;
   width: 90%;
   box-sizing: border-box;
   
  
   
   
}


a:hover {
  background-color: rgb(14, 40, 65);
  color: rgb(249, 249, 250);
  
}

/* homepage */
.subheading{
   font-size: 30px;
   font-family: cursive;
   margin-top: 150px;
}

#subheading-para{
   font-size: 1.5rem;
   line-height: 2;
}

figure{
   opacity: 0.;
   position: relative;
   left: 450px;
   
  
}

img{
   border: 3px dashed rgb(14, 40, 65) ;
   margin-top: 100px;
}

figure:hover{
   opacity: 1.0;
}

figcaption{
   color: rgb(17, 33, 114);
   font-weight: bold;
}



#Key-Features-list{
   line-height: 2;
}

#use-portal-list{
    line-height: 2;
}

footer{
   background-color:rgb(14, 40, 65);
   width: 100%;
   height: 30px;
   text-align: center;
   color: white;
   font-weight: 900;
  
}

#welcome{
   padding: 10px;
   background-color: rgb(215, 220, 233);
   border: 5px solid  rgb(14, 40, 65);
   text-align: justify;

}


#key-features{
   padding: 10px;
   background-color: rgb(235, 237, 243);
   border: 5px solid  rgb(14, 40, 65);
}

#use-portal{
   padding: 10px;
   background-color: rgb(215, 220, 233);
   border: 5px solid  rgb(14, 40, 65);
}


/* profile-page */
