* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E0E1DD;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D1B2A;
    height: 100px;
    width: 100%;   
    position: sticky;  
    top: 0;
    z-index: 1;
}

header h1{
    justify-content: flex-start;
    color: aliceblue;
    font-size: clamp(2rem, 4vw, 3rem);
    padding-left: 2rem;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 30px;
    justify-content: space-between;
    padding-right: 3rem;
}

nav a {
  color: white;
  font-size: clamp(1rem, 2vw, 1.7rem);
}

nav a:hover{
    text-decoration: underline;
}

main{
    flex: 1;
    padding-top:20px;
    font-size: clamp(1rem, 4vw, 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
   
}


section{
    border: 4px solid #1b263b;
    width: min(2300px, 90%);
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(243, 242, 241);  
    box-shadow: 6px 6px 7px #1b263b;
    border-radius: 15px;
}

/* figure style */

figure img{
    max-width: 500px;
    display: block;
    margin: 0 auto;
    transition: transform 0.3 ease;
    box-shadow: 5px 5px 20px #0D1B2A;
    height:400px;
    width:300px;
    object-fit: cover;
    border-radius: 50px;
} 

figure img:hover{
    transform: translateY(-3px);
  
}

figcaption{
    margin-top: 10px;
    font-size: clamp(1.5rem, 2vw, 1rem);
}

/* Student's data design */
#Students-Data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Students-Data table{
    gap: 10px;  
    width: 40%;
    box-shadow: 8px 7px 13px rgb(6, 26, 55);
    margin-bottom: 20px;
    border-radius: 30px;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid rgb(4, 8, 54);
}

#Students-Data th{
  
   text-align: center;
   padding: 10px;
   
}

#Students-Data td{
    text-align: justify;
    padding: 10px;   
}


/* skill section design */
#Skills ul{
    list-style-type: none;
}

#About-Me p{
    text-align: justify;
}

#Contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Contact a{
    color: rgb(141, 24, 24);
    font-weight: 600;
}

/*footer*/
footer{
    background-color: #0D1B2A;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: clamp(1.5rem, 2vw, 2rem);
}

@media(max-width:768px){
   
    header{
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        height: auto;
        padding: 20px 0;

    }

    header h1{
        padding-left: 0;
        text-align: center;
    }

    nav ul{
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding-right: 0;
    }
    
    nav a{
        font-size:1.1rem;
    }

    main{
        padding: 15px;
    }
    section{
        width: 95%;
        padding: 15px;
    }

    section p{
        text-align:left;
        font-size:1rem;
        line-height:1.6;
    }

    figure img{
        width: 100%;
    }

    figure img{
    max-width: 300px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    transition: transform 0.3 ease;
    box-shadow: 5px 5px 20px #0D1B2A;
    object-fit: cover;
    height: 300px;
    } 
    
    #Students-Data table{
    border: 3px solid #1b263b;
    gap: 10px;  
    width: 100%;
    }

    #Students-Data th{
        border: 3px solid #1b263b;
        text-align: center;
}
}

@media (max-width:480px){

    header h1{
        font-size:1.7rem;
    }

    nav a{
        font-size:1rem;
    }

    section h2{
        font-size:1.5rem;
    }

    /* #key-features li{
        min-height:180px;
        font-size:1rem;
    } */

    footer{
        font-size:1rem;
    }

}