* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E0E1DD;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D1B2A;
    height: 100px;
    width: 100%;   
    position: sticky;  
    top: 0;
    z-index: 1;
}

header h1{
    justify-content: flex-start;
    color: aliceblue;
    font-size: clamp(2rem, 4vw, 3rem);
    padding-left: 2rem;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 30px;
    justify-content: space-between;
    padding-right: 3rem;
}

nav a {
  color: white;
  font-size: clamp(1rem, 2vw, 1.7rem);
}

nav a:hover{
    text-decoration: underline;
}

main{
    flex: 1;
    padding-top:20px;
    font-size: clamp(1rem, 4vw, 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
}


section{
    border: 4px solid #1b263b;
    width: min(2300px, 90%);
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(243, 242, 241);  
    box-shadow: 6px 6px 7px #1b263b;
    border-radius: 15px;
}

figure{
    width: 100%;
    margin: 20px 0;
}

figure img{
    object-fit: cover;
    max-width: 700px;
    height: 400px;
    display: block;
    margin: 0 auto;
    border-radius: 40%;
    /* border: 10px solid #778da9; */

}

figcaption{
    margin-top: 10px;
    font-size: clamp(.9rem,2vw,1.2rem);
}



/*footer*/
footer{
    background-color: #0D1B2A;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: clamp(1.5rem, 2vw, 2rem);
}



@media(max-width:768px){
   
    header{
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        height: auto;
        padding: 20px 0;

    }

    header h1{
        padding-left: 0;
        text-align: center;
    }

    nav ul{
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding-right: 0;
    }
    
    nav a{
        font-size:1.1rem;
    }

    main{
        padding: 15px;
    }
    section{
        width: 95%;
        padding: 15px;
    }

    section p{
        text-align:left;
        font-size:1rem;
        line-height:1.6;
    }
    
    figure img{
        width:100%;
    }
}

@media (max-width:480px){

    header h1{
        font-size:1.7rem;
    }

    nav a{
        font-size:1rem;
    }

    section h2{
        font-size:1.5rem;
    }

    /* #key-features li{
        min-height:180px;
        font-size:1rem;
    } */

    footer{
        font-size:1rem;
    }

}